<!-- Footer Section Start -->
<footer class="container footer-section bg-black text-white py-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Logo Section -->
      <div class="col-md-3 mb-4 mb-md-0">
        <img src="logo.png" class="logo" alt="Logo" />
      </div>
      <!-- Explore Section -->
      <div class="footer-explore col-md-2 mb-4 mb-md-0">
        <h5 class="footer-heading fw-semibold mb-3">Explore</h5>
        <ul class="footer-links list-unstyled">
          <li class="mb-1">
            <a [routerLink]="'/'" class="footer-link">Home</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/projects'" class="footer-link">Projects</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/about'" class="footer-link">About Us</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/contact'" class="footer-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Resources Section -->
      <div class="footer-resources col-md-4 mb-4 mb-md-0">
        <h5 class="footer-heading fw-semibold mb-3">Resources</h5>
        <ul class="footer-links list-unstyled">
          <li class="mb-1">
            <a [routerLink]="''" class="footer-link">Privacy Policy</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="''" class="footer-link">Terms of Service</a>
          </li>
        </ul>
        <h5 class="footer-heading fw-semibold mt-4 mb-3">
          Contact Information
        </h5>
        <p class="mb-1">
          Email:
          <a href="mailto:chitransh@seetimaarfilms.com" class="footer-link"
            >chitransh&#64;seetimaarfilms.com</a
          >
        </p>
        <p class="mb-1">
          Phone:
          <a href="tel:+91 9993035739" class="footer-link">+91 9993035739</a>
        </p>
      </div>
      <!-- Social Media Links -->
      <div class="footer-social col-md-3">
        <h5 class="footer-heading fw-semibold mb-3">Social Media Links</h5>
        <div
          class="d-flex justify-content-center justify-content-md-start gap-3"
        >
          <a
            href="https://www.instagram.com/seetimaarfilms/profilecard/?igsh=dW1neDc2Nm5ybXR4"
            target="_blank"
          >
            <img class="footer-icon" src="instagram.png" alt="Instagram" />
          </a>
          <a href="https://www.facebook.com/share/19sVra56HL/" target="_blank">
            <img class="footer-icon" src="facebook.png" alt="Facebook" />
          </a>
          <a href="" target="_blank">
            <img class="footer-icon" src="linkdin.png" alt="Twitter" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="rights py-2 text-center">
  © 2024 SeetiMaar Films. All rights reserved.
</div>
