.footer-section {
  .footer {
    color: white;
  }

  .logo {
    width: 120px;
    height: 60px;
  }

  .footer-heading {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .footer-links {
    list-style: none;
    padding: 0;
  }

  .footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
  }

  .footer-link:hover {
    color: #ff6347;
  }

  .footer-icon {
    width: 20px;
  }
}

.rights {
  border-top: 1px solid #cecccc;
  font-size: 12px;
  font-family: Poppins;
}
