.footer-section {
  .footer {
    color: white;
  }

  .footer-heading {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .footer-links {
    list-style: none;
    padding: 0;
  }

  .footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 400;
    font-family: Poppins;
  }

  .footer-link:hover {
    color: #ff6347;
  }
}
