.header {
  background: #2f2e2e;
  color: #a3a3a3;
  width: 90%;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
  box-sizing: content-box;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header[data-status="scrolled"] {
  top: 0;
  transform: translate(-50%, 0);
  width: 96%;
}

.header .logo {
  color: #a3a3a3;
  font-weight: 700;
  font-size: 24px;
  transition: font-size 0.25s ease-in-out;
  cursor: pointer;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-nav .nav-item {
  display: inline-block;
}

.header-nav .nav-link {
  text-decoration: none;
  display: block;
  color: #a3a3a3;
  font-weight: 700;
  font-size: 24px;
  padding: 0px 20px;
  transition: font-size 1s ease-in-out;
  cursor: pointer;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23a3a3a3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
