<div class="container project-container">
  <!-- Banner Section -->
  <div class="banner">
    <app-video [videoSrc]="selectedProject.video" [width]="'100%'"></app-video>
    <div class="project-details">
      <div class="d-flex align-items-center mb-2">
        <h1 class="name">{{ selectedProject.name }}</h1>
        <button *ngIf="selectedProject.isLatest" class="b-new px-2 px-md-3">
          New
        </button>
      </div>
      <p class="description">
        {{ selectedProject.oneLiner }}
      </p>
    </div>
  </div>

  <!-- Projects Section -->
  <h4 class="projects-heading mb-3 mt-5">Related Projects</h4>
  <div class="project-cards">
    <div
      class="story-card mb-4 cursor-pointer"
      *ngFor="let project of getFilteredProjects()"
      (click)="selectProject(project)"
    >
      <app-video-gif-player
        [videoSrc]="project.video"
        [width]="'100%'"
      ></app-video-gif-player>
      <h4 class="my-3 story-heading">{{ project.name }}</h4>
      <div *ngIf="project.oneLiner.length > 100; else fullText">
        {{ project.oneLiner.substring(0, 100) }}...
      </div>
      <ng-template #fullText>{{ project.oneLiner }}</ng-template>
    </div>
  </div>

  <app-blog-section></app-blog-section>
</div>
