<footer class="container bg-black text-white py-12">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 px-4 text-center md:text-left"
  >
    <!-- Logo Section -->
    <div>
      <img
        src="logo.png"
        class="w-20 h-20 mx-auto md:text-1xl -top-[1vw] relative"
      />
    </div>

    <!--Explore Section-->
    <div>
      <h3 class="font-semibold mb-4">Explore</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-gray-400">Home</a></li>
        <li><a href="#" class="hover:text-gray-400">Projects</a></li>
        <li><a href="#" class="hover:text-gray-400">Blogs</a></li>
        <li><a href="#" class="hover:text-gray-400">About Us</a></li>
        <li><a href="#" class="hover:text-gray-400">Contact Us</a></li>
      </ul>
    </div>

    <!-- Resources Section -->
    <div>
      <h3 class="font-semibold mb-4">Resources</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-gray-400">Privacy Policy</a></li>
        <li><a href="#" class="hover:text-gray-400">Terms of Service</a></li>
        <li><a href="#" class="hover:text-gray-400">Contact Information</a></li>
        <li>
          <a href="mailto:Lorem123@example.com" class="hover:text-gray-400"
            >Email: lorem123&#64;gmail.com</a
          >
        </li>
        <li>
          Phone:
          <a href="tel:+XXXXXXXXXX" class="hover:text-gray-400">+XX XXXXXXXX</a>
        </li>
      </ul>
    </div>

    <!-- Social Media Links -->
    <div class="flex flex-col items-center md:items-start">
      <h3 class="font-semibold mb-4">Social Media Links</h3>
      <div class="flex space-x-4">
        <a
          href="#"
          class="w-8 h-8 bg-gray-600 rounded-xl flex items-center justify-center hover:bg-gray-500"
        >
          <span class="sr-only">Facebook</span>
          <img src="facebook.png" alt="Facebook" class="w-4 h-4" />
        </a>
        <a
          href="#"
          class="w-8 h-8 bg-gray-600 rounded-xl flex items-center justify-center hover:bg-gray-500"
        >
          <span class="sr-only">Twitter</span>
          <img src="twitter.png" alt="Twitter" class="w-4 h-4" />
        </a>
        <a
          href="#"
          class="w-8 h-8 bg-gray-600 rounded-xl flex items-center justify-center hover:bg-gray-500"
        >
          <!-- Replace with an icon -->
          <span class="sr-only">Instagram</span>
          <img src="instagram.png" alt="Instagram" class="w-4 h-4" />
        </a>
      </div>
    </div>
  </div>
</footer>
