.light-mode {
  background-color: white;
  color: black;
}
.light-mode footer {
  background-color: white;
  color: black;
}
.light-mode a {
  color: black;
}
.light-mode a:hover {
  color: gray;
}
.light-mode .bg-gray-600 {
  background-color: gray;
}
.light-mode .bg-gray-600:hover {
  background-color: lightgray;
}
