<!-- Footer Section Start -->
<footer class="container footer-section bg-black text-white py-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Logo Section -->
      <div class="col-md-3 mb-4 mb-md-0">
        <img src="logo.png" class="img-fluid" alt="Logo" />
      </div>
      <!-- Explore Section -->
      <div class="footer-explore col-md-3 mb-4 mb-md-0">
        <h3 class="footer-heading fw-semibold mb-3">Explore</h3>
        <ul class="footer-links list-unstyled">
          <li class="mb-1">
            <a [routerLink]="'/'" class="footer-link">Home</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/projects'" class="footer-link">Projects</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/blogs'" class="footer-link">Blogs</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/about'" class="footer-link">About Us</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="'/contact'" class="footer-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Resources Section -->
      <div class="footer-resources col-md-3 mb-4 mb-md-0">
        <h3 class="footer-heading fw-semibold mb-3">Resources</h3>
        <ul class="footer-links list-unstyled">
          <li class="mb-1">
            <a [routerLink]="''" class="footer-link">Privacy Policy</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="''" class="footer-link">Terms of Service</a>
          </li>
        </ul>
        <h3 class="footer-heading fw-semibold mt-4 mb-3">
          Contact Information
        </h3>
        <p class="mb-1">
          Email:
          <a href="mailto:chitransh@seetimaarfilms.com" class="footer-link"
            >chitransh&#64;seetimaarfilms.com</a
          >
        </p>
        <p class="mb-1">
          Phone:
          <a href="tel:+91 9993035739" class="footer-link">+91 9993035739</a>
        </p>
      </div>
      <!-- Social Media Links -->
      <div class="footer-social col-md-3">
        <h3 class="footer-heading fw-semibold mb-3">Social Media Links</h3>
        <div
          class="d-flex justify-content-center justify-content-md-start gap-3"
        >
          <a [routerLink]="''">
            <img src="instagram.png" alt="Instagram" />
          </a>
          <a [routerLink]="''">
            <img src="twitter.png" alt="Twitter" />
          </a>
          <a [routerLink]="''">
            <img src="facebook.png" alt="Facebook" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
