@import "mq";
.booking-container {
  width: 100%;
  background-image: url("./../../../../public/consultation_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .book-section {
    padding: 80px 20px;
    @include mq(lg) {
      padding: 80px 200px;
    }
  }
}

.b-consultation {
  padding: 12px 16px;
  background-color: #ce0000;
  border: none;
  color: white;
}

.booking-heading {
  color: #ffc107;
}

p {
  color: #ffffff;
}
