.contact-container {
  padding-top: 120px;
  .contact-us-heading {
    font-family: Cinzel;
    font-weight: 700;
    text-align: center;
  }

  .icon {
    height: 92px;
    width: 92px;
    background-color: #1e1e1e;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .label {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    color: white;
  }

  .value {
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
  }
}
