<div class="min-vh-100 contact-us-section">
  <div class="container py-5">
    <h1 class="contact-us-heading">CONTACT US</h1>

    <div class="row d-flex align-items-center">
      <!-- Contact Info Section -->
      <div class="col-lg-6 px-5 py-4">
        <!-- Call Us -->
        <div class="d-flex align-items-center contact-info-text">
          <div
            class="contact-icon-circle d-flex align-items-center justify-content-center me-3"
          >
            <img src="phone.png" alt="Phone Icon" />
          </div>
          <div class="contact-us-text">
            <h3 class="mt-2">Call Us</h3>
            <p>
              <a href="tel:+XXXXXXXXXX" class="footer-link">+XX XXXXXXXX</a>
            </p>
          </div>
        </div>

        <!-- Mail Us -->
        <div class="d-flex align-items-center contact-info-text">
          <div
            class="contact-icon-circle d-flex align-items-center justify-content-center me-3"
          >
            <img src="email.png" alt="Email Icon" />
          </div>
          <div class="contact-us-text">
            <h3 class="mt-2">Mail Us</h3>
            <p>
              <a href="mailto:chitransh@seetimaarfilms.com" class=""
                >chitransh&#64;seetimaarfilms.com</a
              >
            </p>
          </div>
        </div>

        <!-- Social Media -->
        <div class="d-flex align-items-center contact-info-text">
          <div
            class="contact-icon-circle d-flex align-items-center justify-content-center me-3"
          >
            <img src="social-media.png" alt="Social Media Icon" />
          </div>
          <div>
            <h3 class="h5">Social Media</h3>
          </div>
        </div>

        <!-- Social Icons -->
        <div class="contact-us-social-icons">
          <a
            href="#"
            class="d-inline-flex align-items-center justify-content-center me-3"
          >
            <img src="instagram.png" alt="Instagram" />
          </a>
          <a
            href="#"
            class="d-inline-flex align-items-center justify-content-center me-3"
          >
            <img src="whatsapp.png" alt="WhatsApp" />
          </a>
          <a
            href="#"
            class="d-inline-flex align-items-center justify-content-center rounded-circle me-3"
          >
            <img src="linkdin.png" alt="LinkedIn" />
          </a>
          <a
            href="#"
            class="d-inline-flex align-items-center justify-content-center rounded-circle me-3"
          >
            <img src="facebook.png" alt="Facebook" />
          </a>
        </div>
      </div>

      <!-- Curtain Image Section -->
      <div class="col-lg-6">
        <div class="curtain-section rounded"></div>
      </div>
    </div>
  </div>
</div>
