@import "mq";

.contact-container {
  padding-top: 120px;

  .contact-us-heading {
    font-family: Cinzel;
    font-weight: 700;
    text-align: center;
  }

  .icon {
    height: 72px;
    width: 72px;
    background-color: #1e1e1e;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    @include mq(lg) {
      height: 92px;
      width: 92px;
    }
    img {
      height: 23px;
      width: 30px;
      @include mq(lg) {
        height: 40px;
        width: 47px;
      }
    }
  }

  .label {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    color: white;
  }

  .value {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
  }

  .social-icon {
    width: 30px;
  }
}

.bg {
  width: 100%;
  background-image: url("./../../../public/m-contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(lg) {
    background-image: none;
    height: auto;
  }
}
