<section>
  <div
    class="container booking-container d-flex justify-content-center align-items-center mt-5 mb-5"
  >
    <div class="book-section text-center">
      <h1 class="mb-4 booking-heading">
        Let's bring your vision to life together.
      </h1>
      <p class="booking-description">
        Seetimaar Films isn't just ambitious; it's a mission. A mission to give
        writers the spotlight they deserve, actors the stage to shine, and
        everyone working behind the camera the standing ovation they've always
        earned. Because let's face it—without these unsung heroes, even the best
        script would just be a Word document.
      </p>

      <button
        class="red-btn mt-3"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Book a consultation
      </button>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-0">
      <form class="py-3 py-md-5 px-3 px-md-5 rounded-0">
        <div class="d-flex justify-content-between align-items-baseline">
          <h1 class="contact-heading mb-5 mt-3">CONTACT US</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="text" class="form-label f-label">Name*</label>
            <input
              type="text"
              class="border-0 rounded-0 contact-input-field w-100"
              id="inputName"
              placeholder="Name"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="inputEmail4" class="form-label f-label">Email</label>
            <input
              type="email"
              class="rounded-0 border-0 contact-input-field w-100"
              id="inputEmail4"
              placeholder="Email"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="inputPhone" class="form-label f-label"
              >Phone Number*</label
            >
            <input
              type="tel"
              class="rounded-0 border-0 contact-input-field w-100"
              id="inputPhone"
              placeholder="123-456-7890"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="inputEnquiry" class="form-label f-label"
              >Purpose of Enquiry</label
            >
            <select
              id="inputEnquiry"
              class="rounded-0 border-0 contact-input-field custom-dropdown w-100"
              placeholder="Purpose of Enquiry"
            >
              <option value="" disabled selected>Select an option</option>
              <option>General Inquiry</option>
              <option>Support</option>
              <option>Question</option>
              <option>Feedback</option>
              <option>Other</option>
            </select>
          </div>

          <div class="col-12">
            <label for="message" class="form-label f-label">Message</label>
            <textarea
              class="contact-msg-box"
              id="message"
              rows="4"
              placeholder="Your message here..."
            ></textarea>
          </div>
          <div class="col-12 text-center mt-5">
            <button type="submit" class="red-btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
