@import "mq";
.booking-container {
  width: 100%;
  background-image: url("./../../../../public/consultation_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .book-section {
    padding: 80px 20px;
    @include mq(lg) {
      padding: 80px 200px;
    }
  }
}

.booking-heading {
  color: #ffc107;
}

.booking-description {
  color: #ffffff;
}

// modal code start

.contact-heading {
  font-weight: 700;
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
  font-family: Cinzel;
}

.f-label {
  font-family: Poppins;
  color: black;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.contact-input-field {
  height: 48px;
  padding: 12px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.custom-dropdown {
  appearance: none;
  padding-right: 32px;
  background-image: url("./../../../../public/angle-down.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10.4px;
}

.contact-msg-box {
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 16px;
  background-color: #f0f0f0;
  resize: vertical;
  min-height: 150px;
}

//modal code end
