.blogs-heading {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: Cinzel;
}

.blog-title {
  font-weight: 700;
  font-family: Poppins;
}

.blog-dscription {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
}

.blog-card {
  background-color: #000;
  color: #fff;
  border-color: #f5f5f5;
}
