@import "mq";

.banner {
  width: 100%;
  height: auto;
  background-image: url("./../../../public/m-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
    background-image: url("./../../../public/banner.png");
    height: 100vh;
  }

  .banner-container {
    padding-top: 160px;

    @include mq(md) {
      padding-top: 0px;
    }
  }

  .brand-name {
    font-size: 40px;
    font-weight: 700;
    color: #ffc107;
    font-family: Cinzel;

    @include mq(md) {
      font-size: 70px;
    }
  }

  .tagline {
    font-family: Poppins;
    font-size: 16px;
    @include mq(md) {
      font-size: 24px;
    }
  }
}
