<div>
  <div class="banner">
    <div
      class="container banner-container h-100 d-flex flex-column justify-content-center justify-content-lg-end pb-5 text-center"
    >
      <h1 class="brand-name mb-4">SEETIMAAR FILMS</h1>
      <h6 class="tagline mb-4">Zindagi Ko Picture Bana Ke Seeti Maar</h6>
      <div class="row align-items-end mb-4 px-5 px-md-0">
        <div class="col-12 col-md-4 text-center mb-3 text-md-end">
          <img class="img-fluid" src="banner1.png" alt="banner 1" />
        </div>
        <div class="col-12 col-md-4 text-center mb-3">
          <img class="img-fluid" src="banner2.png" alt="banner 2" />
        </div>
        <div class="col-12 col-md-4 text-center mb-3 text-md-start">
          <img class="img-fluid" src="banner3.png" alt="banner 3" />
        </div>
      </div>
    </div>
  </div>

  <app-about-section></app-about-section>
  <app-project-section></app-project-section>
  <app-services-section></app-services-section>
  <app-consultation-section></app-consultation-section>
</div>
