<!-- Booking Section start -->
<section>
  <div
    class="container booking-container d-flex justify-content-center align-items-center mt-5 mb-md-5"
  >
    <div class="book-section text-center">
      <h1 class="mb-4 booking-heading">
        Let's bring your vision to life together.
      </h1>
      <p>
        Seetimaar Films isn't just ambitious; it's a mission. A mission to give
        writers the spotlight they deserve, actors the stage to shine, and
        everyone working behind the camera the standing ovation they've always
        earned. Because let's face it—without these unsung heroes, even the best
        script would just be a Word document.
      </p>

      <button
        class="px-5 py-2 text-white booking-btn"
        [routerLink]="'/contact'"
      >
        Book a consultation
      </button>
    </div>
  </div>
</section>

<!-- Booking section end -->
