<div class="container about-container bg">
  <h1 class="heading">ABOUT US</h1>

  <div class="row align-items-end">
    <div class="col-12 col-lg-3 text-center">
      <img src="a-chitransh.png" class="img-fluid" alt="" />
      <h5 class="mt-2 name px-3">Chitransh Bhaskar</h5>
      <p class="tag-line">
        Managing Director & <span class="red-text">Founder</span>
      </p>
    </div>
    <div
      class="col-12 col-lg-9 px-3 px-lg-5 text-center about-content mt-4 mt-lg-3"
    >
      <p>
        Meet Chitransh Bhaskar:
        <span class="red-text"> The Seeti-Maar Storyteller </span>
      </p>
      <p>Who is Chitransh Bhaskar?</p>
      <p>
        Only the writer, director, and dream-weaver behind Seetimaar Films—a man
        who doesn’t just create movies; he creates whistle-worthy moments. From
        scripting soul-stirring tales to crafting jaw-dropping visuals,
        Chitransh is the full cinematic package: a storyteller, an innovator,
        and your go-to guy for unforgettable cinema.
      </p>
      <p>
        With award-winning films (and a few sleepless nights) under his belt,
        Chitransh juggles animation, VFX, and scriptwriting like they’re part of
        his DNA. His secret? A cup of coffee in one hand and boundless
        creativity in the other.
      </p>
      <p>
        When he’s not dreaming up plots that make you laugh, cry, or whistle
        till your lungs hurt, he’s busy giving Indian cinema a much-needed
        shake-up.
      </p>
      <p>
        Seetimaar Films isn’t just a production house—it’s his mission to turn
        stories into spectacular experiences. So grab your popcorn, because
        Chitransh Bhaskar’s next adventure is bound to be a blockbuster.
      </p>
      <div class="d-flex gap-5 justify-content-center">
        <div>
          <h1>2</h1>
          <p>Project Completed</p>
        </div>
        <div>
          <h1>4+</h1>
          <p>Years Of Mastery</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="heading mt-5">Team Members</h3>

  <div class="row mt-5 align-items-center text-center text-lg-start">
    <div class="col-12 col-lg-2">
      <img class="mb-3 img-fluid" src="a-harsh.png" alt="" />
    </div>
    <div class="col-12 col-lg-10 px-3">
      <h5 class="mt-2 name">Harsh Agarwal</h5>
      <p class="about-content">
        Harsh Agarwal is a young and ambitious businessman with a visionary
        approach to entrepreneurship. Despite having no prior knowledge of
        movies and cinema, he is working hard to establish Seeti Maar Films as a
        prominent brand. Backed by strong financial resources and a
        determination to succeed, Harsh aims to build a legacy in the
        entertainment industry through strategic leadership and innovative
        ideas.
      </p>
    </div>
  </div>
</div>
