<div
  class="header d-block d-lg-none"
  [ngClass]="{
    scrolled: isScrolled || isNavOpen
  }"
>
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <img class="logo" [routerLink]="'/'" src="logo.png" alt="Logo" />

      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#headerNav"
        aria-controls="headerNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-end text-center"
      id="headerNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li
          *ngFor="let menu of menuItems"
          class="nav-item"
          data-bs-toggle="collapse"
          data-bs-target="#headerNav"
          aria-controls="headerNav"
          aria-expanded="false"
          (click)="toggle()"
        >
          <a class="nav-link" [routerLink]="menu.path">{{ menu.label }}</a>
        </li>
      </ul>
      <Button
        class="contact-btn"
        routerLink="/contact"
        data-bs-toggle="collapse"
        data-bs-target="#headerNav"
        aria-controls="headerNav"
        aria-expanded="false"
        (click)="toggle()"
        >Contact Us</Button
      >
    </div>
  </div>
</div>

<div
  [ngClass]="{
    scrolled: isScrolled
  }"
  class="header d-none d-lg-block"
>
  <div class="d-flex align-items-center container-large">
    <img class="logo" [routerLink]="'/'" src="logo.png" alt="Logo" />
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-center"
      id="headerNav"
    >
      <ul class="header-nav d-flex">
        <li *ngFor="let menu of menuItems" class="nav-item">
          <a class="nav-link" [routerLink]="menu.path">{{ menu.label }}</a>
        </li>
      </ul>
    </div>
    <Button class="contact-btn" routerLink="/contact">Contact Us</Button>
  </div>
</div>
