.services-heading {
  font-size: 32px;
  font-weight: 700;
  font-family: Cinzel;
}

.s-label {
  color: white;
  font-family: Cinzel;
  font-weight: 700;
}

.separator {
  border: 1px solid #8a6d17;
  width: 100%;
}
