<section>
  <div class="container mb-5 mb-md-5 pb-0 pb-lg-3">
    <div class="text-center mb-5">
      <h4 class="services-heading">What we do?</h4>
    </div>

    <div class="row text-center">
      <div *ngFor="let service of services" class="col-6">
        <img class="img-fluid mb-4" [src]="service.icon" alt="" />
        <h5 class="s-label">{{ service.label }}</h5>
      </div>
    </div>

    <div class="separator mt-5"></div>

    <div class="row align-items-baseline text-center mt-5">
      <div class="col-lg-4 col-6">
        <img src="arogin.png" alt="Image 1" class="img-fluid w-50" />
      </div>
      <div class="col-lg-4 col-6">
        <img src="decathlon.png" alt="Image 2" class="img-fluid w-50" />
      </div>
      <div class="col-lg-4 col-6 mx-auto mt-4 mt-lg-0">
        <img src="panda-palooza.png" alt="Image 3" class="img-fluid w-50" />
      </div>
    </div>
  </div>
</section>
