#scrollToTop {
  z-index: 9;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: #ce0000;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  margin-bottom: -12rem;
  cursor: pointer;
  transition: margin-bottom 0.2s;
  &.active {
    margin-bottom: 0;
  }
  &:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotate {
  to {
    transform: rotate(2520deg);
  }
}
