.projects-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .projects-heading {
    font-size: 32px;
    font-weight: 700;
    font-family: Cinzel;
  }

  .view {
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    cursor: pointer;
  }
}

.gif-container {
  position: relative;
  display: inline-block;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
}

.gif-container:hover .gif {
  display: block;
}

.gif-container:hover .thumbnail {
  display: none;
}

// .story-heading {
//   font-size: 20px;
//   font-weight: 700;
//   font-family: Poppins;
// }

// .story-description {
//   font-size: 16px;
//   font-weight: 400;
//   font-family: Poppins;
// }
