<section>
  <div class="container">
    <div class="projects-section mb-3">
      <h4 class="projects-heading">Projects</h4>
      <p class="view" [routerLink]="'/projects'">View All</p>
    </div>

    <div class="row">
      <div *ngFor="let project of projects" class="col-12 col-md-6">
        <img class="img-fluid w-100" [src]="project.img" alt="" />
        <h4 class="my-3 story-heading">{{ project.name }}</h4>
        <p class="story-description">
          {{ project.description }}
        </p>
      </div>
    </div>
  </div>
</section>
