.projects-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .projects-heading {
    font-size: 32px;
    font-weight: 700;
    font-family: Cinzel;
  }

  .view {
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    cursor: pointer;
  }
}

// .story-heading {
//   font-size: 20px;
//   font-weight: 700;
//   font-family: Poppins;
// }

// .story-description {
//   font-size: 16px;
//   font-weight: 400;
//   font-family: Poppins;
// }
