<section>
  <div class="container">
    <div class="projects-section mb-3">
      <h4 class="projects-heading">Projects</h4>
      <p class="view">View All</p>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="project1.png" alt="" />
        <h4 class="my-3">The Story of Guns Valley</h4>
        <p>
          A gripping tale of crime, survival, and redemption, exploring the
          human stories behind the violence in a lawless valley.......
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="project1.png" alt="" />
        <h4 class="my-3">Veena's journey</h4>
        <p>
          After a devastating love marriage collapse, a young woman from Urban
          place, lost in despair, encounters a mysterious saint who offers her
          hope......
        </p>
      </div>
    </div>
  </div>
</section>
