<section>
  <div class="container mb-5 mb-md-5 pb-0 pb-lg-3">
    <div class="projects-section mb-3">
      <h4 class="projects-heading">Projects</h4>
      <p class="view" [routerLink]="'/projects'">View All</p>
    </div>

    <div class="row">
      <div *ngFor="let project of projects" class="col-12 col-md-6 mb-4">
        <img
          class="img-fluid w-100 cursor-pointer"
          [routerLink]="'/projects/' + project.id"
          [src]="project.img"
          alt=""
        />
        <h4 class="my-3 story-heading">{{ project.name }}</h4>
        <div *ngIf="project.description.length > 150; else fullText">
          {{ project.description.substring(0, 150) }}...
        </div>
        <ng-template #fullText> {{ project.description }} </ng-template>
      </div>
    </div>
  </div>
</section>
