<section>
  <div
    class="container about-container mt-0 mt-md-5 mt-lg-0 mb-4 mb-md-5 pb-0 pb-lg-3"
  >
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <img
          class="img-fluid"
          src="chitransh.jpeg"
          alt="Chitransh Bhaskar Image"
        />
      </div>
      <div class="col-12 col-md-8 about-section">
        <h1 class="name">Chitransh Bhaskar</h1>
        <p class="bio">
          Writer, director, and the mastermind behind Seetimaar Films—a
          production house with a vision so grand, even cinema itself gets
          inspired. Here, we don’t just make movies; we create experiences. We
          want you to sit back, enjoy every second, and leave with memories (and
          maybe a few emotional scars). Sometimes, we’ll teach you about life.
          Other times, you’ll be biting your nails in suspense. And yes, there
          will be moments when we’ll have you sobbing into your popcorn.
        </p>
        <p class="bio">
          Seetimaar Films isn’t just ambitious; it’s a mission. A mission to
          give writers the spotlight they deserve, actors the stage to shine,
          and everyone working behind the camera the standing ovation they’ve
          always earned. Because let’s face it—without these unsung heroes, even
          the best script would just be a Word document.
        </p>
        <button class="b-read mt-4" [routerLink]="'/about'">Read More</button>
      </div>
    </div>
  </div>
</section>
