/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.red-btn {
  padding: 12px 16px;
  background-color: #ce0000;
  border: none;
  color: white;
}
