<div>
  <div class="banner">
    <div
      class="container h-100 d-flex flex-column justify-content-end pb-5 text-center"
    >
      <h1 class="brand-name">SEETIMAAR FILMS</h1>
      <h6 class="mb-5 pb-5 tagline">Zindagi Ko Picture Bana Ke Seeti Maar</h6>
      <div class="row align-items-end mb-4">
        <div class="col-4 text-end">
          <img class="img-fluid" src="banner1.png" alt="banner 1" />
        </div>
        <div class="col-4 text-center">
          <img class="img-fluid" src="banner2.png" alt="banner 2" />
        </div>
        <div class="col-4 text-start">
          <img class="img-fluid" src="banner3.png" alt="banner 3" />
        </div>
      </div>
    </div>
  </div>

  <app-about-section></app-about-section>
  <app-project-section></app-project-section>
  <app-consultation></app-consultation>
</div>
